PORT=8080
DB_HOST=14.136.93.74
DB_PORT=5433
DB_USER=ogcloud
DB_PASSWORD=ogcloud_system
DB_NAME=matrix_test_db
JWT_SECRET=choice_matrix_secret
SKIP_AUTO_MIGRATE=true
DB_SSLMODE=disable

# Redis Configuration
REDIS_HOST=14.136.93.74
REDIS_PORT=6379
REDIS_PASSWORD=ogcloud_system
REDIS_DB=0
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=168h
